ul.slider{
  padding: 0px;
  height: 100%;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
}

.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 80%;
  background: #ddd;
  border: 0;
}


.tns-nav > [aria-controls].tns-nav-active {
   background: black;
}


ul.slider p{
  text-align: center;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

ul.slider img{
  width: 100%;
  height: auto;
}
